.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.card{
    width: 500px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-style: solid;
    border-radius: 50px;
}
img{
    width: 250px;
    height: 200px;
    border-radius: 50px;
}
p{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}
button{
    padding: 5px 25px;
    font-size: 18px;
    border-radius: 50px;
    margin-top: 5px;
}
button:hover{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}